/* 
    base styles 
*/

/* border-box all around */
* {
    box-sizing: border-box ;
}


body {

    font-family: Arial ;
    margin: 0 ;
    padding: 0 ;
}

h1 {
    font-size: 175% ;
    text-align: center ;
    margin-bottom: 45px ;
}

.row {
    width: 100% ;
}

.section-box {
    position: relative ;
    padding: 10px ;
}

.section-content {
    position: relative ;
    border: 1px solid black ;
    margin: 10px ;
    background-color: #EFEFEF ;
    min-width: 125px ;
    min-height: 150px ;
}

.title-box {
    font-size: 125% ;
    padding: 5px ;
    text-align: center ;
    border: 1px solid black ;
    border-top: 0px ;
    border-right: 0px ;
    position: absolute ;
    width: 135px ;
    top: 0px ;
    right: 0px ;

}

.content-box {
    text-align: center;
    padding: 5px ;
    margin-top: 35px ;
}

/* ids for color styles */
#chicken-title {
    background-color: khaki ;
}

#beef-title {
    background-color: goldenrod ;
}

#sushi-title {
    background-color: lightblue ;
}

/* 
*   media queries. All 12 columns grids, even though
*   I use only 3 
*/

/* 
    desktop 
*/
@media ( min-width: 992px )
{
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4,
    .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8,
    .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12
    {
        float: left ;
        border: 1px ;
    }
    .col-lg-1 {
        width: 8.33% ;
    }
    .col-lg-2 {
        width: 16.66% ;
    }
    .col-lg-3 {
        width: 25% ;
    }
    .col-lg-4 {
        width: 33.33% ;
    }
    .col-lg-5 {
        width: 41.66%
    }
    .col-lg-6 {
        width: 50% ;
    }
    .col-lg-7 {
        width: 58.33% ;
    }
    .col-lg-8 {
        width: 66.66% ;
    }
    .col-lg-9 {
        width: 75% ;
    }
    .col-lg-10 {
        width: 83.33%
    }
    .col-lg-11 {
        width: 91.66% ;
    }
    .col-lg-12 {
        width: 100% ;
    }
}

/* 
    tablet 
*/
@media ( min-width:768px ) and ( max-width: 991px ) {

    .col-md-1, .col-md-2, .col-md-3, .col-md-4,
    .col-md-5, .col-md-6, .col-md-7, .col-md-8,
    .col-md-9, .col-md-10, .col-md-11, .col-md-12
    {
        float: left ;
        border: 1px ;
    }
    .col-md-1 {
        width: 8.33% ;
    }
    .col-md-2 {
        width: 16.66% ;
    }
    .col-md-3 {
        width: 25% ;
    }
    .col-md-4 {
        width: 33.33% ;
    }
    .col-md-5 {
        width: 41.66%
    }
    .col-md-6 {
        width: 50% ;
    }
    .col-md-7 {
        width: 58.33% ;
    }
    .col-md-8 {
        width: 66.66% ;
    }
    .col-md-9 {
        width: 75% ;
    }
    .col-md-10 {
        width: 83.33%
    }
    .col-md-11 {
        width: 91.66% ;
    }
    .col-md-12 {
        width: 100% ;
    }
}

/* 
   mobile : will stack by default, no point defining for now
*/




